@model FinalProject.Models.Questionnaire


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Форма редактирования анкеты</title>
    <link type="text/css" rel="stylesheet" href="../../Content/EditQuestionnaire.css" />
</head>
<body>
    @using (Html.BeginForm("EditQuestionnaire", "Questionnaire", FormMethod.Post, new { @class = "editForm"}))
    {
        @Html.LabelFor(model => model.Name, "Название анкеты");
        <br />
        @Html.TextBoxFor(model => model.Name, new { @class = "editor" });
        <input type="submit" value="Подтвердить"/>
        <p>@Html.HiddenFor(model => model.Id)</p>
    }
</body>
</html>

