@model IEnumerable<FinalProject.Models.Questionnaire>

@{
    Layout = null;
}

<!--Представление по умолчанию контроллера Questionnaire-->
<!DOCTYPE html>
<head>
    <title>
        Список анкет
    </title>
    <link type="text/css" rel="stylesheet" href="../../Content/IndexQuestionnaire.css" />
</head>
<body>
    <div>
        @foreach (var questionnaire in Model)
        {
            <div>
                @using (Html.BeginForm("EditQuestionnaireForm", "Questionnaire", FormMethod.Post, new { @class = "Form" }))
                {
                    <p>
                        <span class="p-span">Название анкеты: </span>@Html.DisplayFor(modelItem => questionnaire.Name)
                    </p>
                    <p>
                        @Html.HiddenFor(modelItem => questionnaire.Id)
                    </p>                   
                    <input type="submit" value="Редактировать название анкеты"/>
                    <p>
                        @Html.ActionLink("Перейти к вопросам анкеты", "GetQuestions", "Question", new { id = questionnaire.Id}, new { @class = "link"})
                    </p>
                }
            </div>           
        }
    </div>
</body>

