@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>Окончание тестирования</title>
    <link type="text/css" rel="stylesheet" href="../../Content/ShowTestingEnd.css"/>
</head>
<body>
    <div class="div">
        <h2>Тестирование успешно пройдено</h2>
        <a href="/Authorisation/Index" class="link">Завершить</a>
        <br />
        <br />
        <a href="/Analize/Analize/?questionnaireId=@ViewBag.Id" class="link">Статистика</a>
    </div>
</body>
</html>

