body {
    box-sizing: border-box;
    height: 40cm;
    background-color:aliceblue;
}



.Form {
    margin: 0 auto;
    max-width: 95%;
    height: 10%;
    padding: 30px 30px 6px 30px;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden;
}

.link {
    width: 250px;
    height: 150px;
    text-decoration: none;
    background-color: black;
    color: white;
    transition-duration: 0.5s;
    padding: 3px;
    margin: 10px;
}

    .link:hover {
        background-color: red;
        transition-duration: 0.5s;
    }

.sub {
    padding: 6px 20px;
    height: 30px;
    border-top: 1px solid #98CCE7;
    border-bottom: 1px solid #7DB0CC;
    border-left: 1px solid #8CBFD9;
    border-right: 1px solid #8CBFD9;
    border-radius: 15px;
    color: #FFF;
    font: bold 13px Arial, Tahoma, sans-serif;
    box-shadow: inset 0 1px #D4EBF7, 0 1px 3px #B8BEBE;
    background-color: gray;
    cursor: pointer;
    text-shadow: 0 -1px rgba(0,0,0,0.15);
    outline: none;
    margin-left: 20px;
}

.div {
    width: 300px;
    height: 100%;
    padding: 50px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: gray;
}

.form-label {
    font-weight: bold;
    font-size: 20px;
}