@{
    Layout = null;
}

<!--Представление по умолчанию приложения в целом-->
<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
    <link type="text/css" rel="stylesheet" href="../../Content/MainPage.css" />
</head>
<body>
    <div>
        <p class="div-p">Пользователь: @ViewBag.User.Login</p>
    </div>
    <div>
        @if(ViewBag.Questionnaires.Count > 0)
        {
            <a href="/Questionnaire/index" class="botr">Перейти к редактированию анкет</a>
            foreach(var questionnaire in ViewBag.Questionnaires)
            {
                using (Html.BeginForm("StartTesting", "Testing", FormMethod.Post, new { @class = "form" }))
                {
                    <p>Название анкеты: @questionnaire.Name</p>
                    <input type="hidden" name="Id" value="@questionnaire.Id"/>
                    <input type="hidden" name="userId" value="@ViewBag.User.Id" />
                    <input type="submit" value="Пройти"/>
                }               

            }
        }
        else
        {
            <p>Анкеты пока отстутствуют</p>
        }
        <div>
            @using (Html.BeginForm("AddQuestionnaireForm", "Questionnaire", FormMethod.Post))
            {
                <div class="sub">
                    <button>Добавить анкету</button>
                </div>
            }          
        </div>
    </div>
</body>
</html>